# Data Structures Exercises

# Exercise 1
In mathematics, the quadratic equation ax2+bx+c=0 can be solved with the formula x=−b±b2−4ac√2a.

Write a function solve_quadratic, that returns both solutions of a generic quadratic as a pair (2-tuple) when the coefficients are given as parameters. It should work like this:

print(solve_quadratic(1,-3,2))
(2.0,1.0)
print(solve_quadratic(1,2,1))
(-1.0,-1.0)
You may want to use the math.sqrt function from the math module in your solution. Test that your function works in the main function!

In [39]:
#Import math module to get access to the math methods
import math

#Create a function called solve_quadratic with parameters a, b, and c
def solve_quadratic(a, b, c):   #This will evaluate the expression ax^2+bx+c=0
    d = (b**2) - 4*a*c     #This is to simplify the square root equation on the numerator
    
    positiveSolution = (-b + math.sqrt(d)) / (2*a) #This returns the high end value of the quadratic formula
    negativeSolution = (-b - math.sqrt(d)) / (2*a) #This returns the lower end value of the quadratic formula
    
    return (positiveSolution, negativeSolution)    #This returns the output in a tuple data type. 
    #This returns the output for the function and assigns the values to positiveSolution and negativeSolution.

#This returns the solution for the quadratic function
print(solve_quadratic(1, -3, 2))
print(solve_quadratic(1, 2, 1))

(2.0, 1.0)
(-1.0, -1.0)

# Exercise 2
Get a space-separated list of integers from the user, create a tuple of those integers. Then compute and print the result of hash(tuple).

In [40]:
#Get a space-separated list of integers from the user
listFromUser = input("Enter list of numbers separated by space: ").split(' ')
print(listFromUser)
print(type(listFromUser))

Enter list of numbers separated by space: 1 2 3 4 5
['1', '2', '3', '4', '5']
<class 'list'>

In [41]:
# Convert string to integers
IntegersFromUser = map(int, input("Enter list of numbers separated by space: ").split(' '))
print(IntegersFromUser)
print(type(IntegersFromUser))

Enter list of numbers separated by space: 1 2 3 4 5
<map object at 0x7f84b4977520>
<class 'map'>

In [42]:
# Convert list to truple
tupleFromUser = tuple(map(int, input("Enter list of numbers separated by space: ").split(' ')))
print(tupleFromUser)
print(type(tupleFromUser))

Enter list of numbers separated by space: 1 2 3 4 5
(1, 2, 3, 4, 5)
<class 'tuple'>

In [15]:
#Compute and print result of hash(tuple)
print(hash(tupleFromUser))

529344067295497451

# Exercise 3
Take the following two lists. Create a third list by picking a odd-index elements from the first list and even-index elements from the second.

listOne = [3, 6, 9, 12, 15, 18, 21]
listTwo = [4, 8, 12, 16, 20, 24, 28]

In [43]:
listOne = [3, 6, 9, 12, 15, 18, 21]

In [44]:
listTwo = [4, 8, 12, 16, 20, 24, 28]

In [45]:
# This creates a third list by odd INDEXED elements from the first list and even INDEXED elements from the second
#List one starts at position 1 and increments every other value
#List two starts at position 0 and increments every other value
list3 = listOne[1::2] + listTwo[0::2] 
print(list3)

[6, 12, 18, 4, 12, 20, 28]

In [46]:
#This gets the list for ODD ELEMENTS from the first list and EVEN ELEMENTS from the second
#Created an empty list
listThree = []

#Condition where if x in listOne is not divisible by 2 then the number is odd and added to the listThree.
for x in listOne:
        if x % 2 == 1:
            listThree.append(x)
print(listThree)

[3, 9, 15, 21]

In [47]:
#Condition where if y in listTwo is divisible by 2 then the number is even and added to listThree.
for y in listTwo:
    if y % 2 == 0:
        listThree.append(y)

#This prints the listThree with odd values from listOne and even values from listTwo
print(listThree)

#This prints the listThree but with the values sorted. :)
listThree.sort()
print(listThree)

[3, 9, 15, 21, 4, 8, 12, 16, 20, 24, 28]
[3, 4, 8, 9, 12, 15, 16, 20, 21, 24, 28]

# Exercise 4
Take the following list. Slice it into three equal chunks and reverse each list.

sampleList = [11, 45, 8, 23, 14, 12, 78, 45, 89]

In [48]:
sampleList = [11, 45, 8, 23, 14, 12, 78, 45, 89]
len(sampleList)

9

In [49]:
#We created 3 lists. All our start points start backwards. -1 is 89, -2 is 45, -3 is 78
# The -3 is reversing our list
Slice1 = sampleList[-1::-3]
Slice2 = sampleList[-2::-3]
Slice3 = sampleList[-3::-3]

print(Slice1)
print(Slice2)
print(Slice3)

[89, 12, 8]
[45, 14, 45]
[78, 23, 11]

# Exercise 5 
Iterate through a given list and check if a given element already exists in a dictionary as a key’s value. If not, delete it from the list.

rollNumber = [47, 64, 69, 37, 76, 83, 95, 97]
sampleDict ={'Zach':47, 'Emma':69, 'Kelly':76, 'Jason':97}

In [50]:
rollNumber = [47, 64, 69, 37, 76, 83, 95, 97] 
sampleDict ={'Zach':47, 'Emma':69, 'Kelly':76, 'Jason':97}


#iterate through the elements in rollNumber
#Create a for loop
for x in rollNumber:     
    #check if the element is already there in sampleDict as the key, x is the value
    if x not in sampleDict.values():
        #if the condition is true/matches, then we remove it from sampleDict
        rollNumber.remove(x)    
    #if not we continue and delete it from rollNumber.
    else:
        continue

print(rollNumber)

[47, 69, 76, 95, 97]

# Extra Points
- - -

1. ***Optional Exercise (Extra Points)***.  Write a Python program to convert a tuple to a string.

In [51]:
t = ('Coffee', 'Tea', 'Juice', 'Water', 'Soda')
print(t)
print(type(t))

string = ' '.join(t)

print(string)
print(type(string))

('Coffee', 'Tea', 'Juice', 'Water', 'Soda')
<class 'tuple'>
Coffee Tea Juice Water Soda
<class 'str'>

2. ***Optional Exercise (Extra Points)***.  Write a Python program to check whether an element exists within a tuple.

In [52]:
t = ('hi', 'hello', 'mom', 'airplane', 'cloud', [1, 2, 3])

if 'hello' in t:
    print('hello is here')

hello is here

3. ***Optional Exercise (Extra Points)***.  Write a Python program to print a tuple with string formatting.

In [53]:
t = ('Coffee', 'Tea', 'Juice', 'Water', 'Soda')
print("The beverages we carry are: %s"% (t,))

The beverages we carry are: ('Coffee', 'Tea', 'Juice', 'Water', 'Soda')